<div class="container pt-3">
  <form class='shadow p-4 mb-5 bg-white rounded' [formGroup]="formConsulta">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="chave">Chave nfe</label>
        <input type="email" class="form-control" id="chave" formControlName="nfe">
      </div>
      <div class="form-group col-md-6">
        <label for="cnpj">CNPJ Destinatário</label>
        <input type="text" class="form-control" id="cnpj" formControlName="cnpj">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="data-inicial">Data Inicial</label>
        <input type="date" class="form-control" id="data-inicial" formControlName="dataInicio">
      </div>
      <div class="form-group col-md-4">
        <label for="data-final">Data final</label>
        <input type="date" class="form-control" formControlName="dataFinal">
      </div>
      <div class="form-group col-md-4">
        <label for="armazem">Armazem</label>
        <select id="armazem" class="form-control" formControlName="armazem" >

        </select>
      </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="send()">
      Launch demo modal
    </button>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dados NFE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
      </div>
    </div>
  </div>
</div>
